[submodule "3pp/glm"]
	path = 3pp/glm
	url = https://github.com/g-truc/glm.git
[submodule "3pp/glad"]
	path = 3pp/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "3pp/glfw"]
	path = 3pp/glfw
	url = https://github.com/glfw/glfw.git
